taco:
  orders:
    page-size: 10

logging:
  level:
    tacos: debug

spring:
  data:
    rest:
      base-path: /api
  jms:
    template:
      default-destination: tacocloud.order.queue

---
spring:
  datasource:
    url: jdbc:mysql://localhost/tacocloud
    username: tacouser
    password: tacopassword
  config:
    activate:
      on-profile: prod
  data:
    rest:
      base-path: /rest
logging:
  level:
    tacos: warn