<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>
  <h1>Welcome to...taco</h1>
  <img th:src="@{/images/TacoCloud.png}" alt="" src=""/>  <!-- 이미지의 기본 경로는 /resources/static 이다. -->

    <form method="post" th:action="@{/logout}" id="logoutForm">
        <input type="submit" value="Logout"/>
    </form>

    <a th:href="@{/design}" id="design">Design a taco</a>
</body>
</html>